<div class="transport-subnav">
  <a href="{{ url_for('transport.index') }}" class="transport-subnav-link">Resumen</a>
  <a href="{{ url_for('transport.drivers_list') }}" class="transport-subnav-link">Choferes</a>
  <a href="{{ url_for('transport.trucks_list') }}" class="transport-subnav-link">Cabezales</a>
  <a href="{{ url_for('transport.assignment_create') }}" class="transport-subnav-link">Asignar</a>
  <a href="{{ url_for('transport.exit_permissions_list') }}" class="transport-subnav-link">Permisos</a>
  <a href="{{ url_for('transport.incidents_list') }}" class="transport-subnav-link">Incidentes</a>
  <a href="{{ url_for('transport.history') }}" class="transport-subnav-link">Historial</a>
</div>
